<div class='bottom-nav'>
    
    <div class="contents">

        <h1>

            © Блокнотик 2022                        

        </h1>

        <ul>

            <li>

                <a href="{% url 'base:terms' %}" target="_blank">

                    Информация

                </a>

            </li>

        
            <li>

                <a href="{% url 'base:plans' %}" target="_blank">

                    Тарифы

                </a>

            </li>

            <li>

                <a href="{% url 'base:contact' %}" target="_blank">

                    Обратная связь

                </a>

            </li>

            

        </ul>

    </div>

</div>
