$text-color: #1E2330;

html, body {

    top: 0;
    left: 0;

    margin: 0;

    color: $text-color;

}

button {

    border: none;
    border-radius: 100px;

    font-family: Comfortaa;

    cursor: pointer;

}

.content {

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;


    display: block;

    overflow: auto;

    backdrop-filter: blur(100px) saturate(180%);
    -webkit-backdrop-filter: blur(100px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.4);

    z-index: 2;

    .main {

        position: relative;

        left: 0;
        top: 200px;
        
        width: 100%;

        .text-wrapper {

            width: 50%;
            
            float: left;

            .text {

                position: relative;

                left: 150px;

                text-shadow: 2px 2px 9px rgba(206,89,55,0.38);

                h1 {

                    font-size: 80px;

                }

                h2 {

                    font-size: 50px;

                    font-weight: normal;

                }

                button {

                    margin-top: 40px;

                    width: 400px;
                    height: 70px;

                    background: rgba(255, 255, 255, 0.2);

                    box-shadow:  1px 1px 4px #b9b9b7,
                            -1px -1px 4px #ffffff;

                    

                    font-size: 23px;
                                      
                }

            }

        }

        .image {

            position: relative;

            bottom: 300px;

            width: 50%;

            float: right;

            overflow-x: hidden;

            img {

                position: relative;

                right: 35px;
                
            }


        }

    }

}

.circles {

    position: absolute;

    left: 200px;
    top: 150px;

    width: 0;
    height: 0;

    z-index: -1;

    

    div {

        position: relative;

        border-radius: 1000px;

        transform: scale(1);

    }

    .big {

        width: 700px;
        height: 700px;

        background: yellow;

        z-index: 1;

        transition: all 3s ease-in-out;


    }

    .medium {

        position: absolute;
        top: 270px;
        left: -50px;

        width: 450px;
        height: 450px;

        background: red;

        z-index: 2;

        transition: all 1.5s ease-in-out;

    }

    .small {

        position: absolute;
        top: 40px;
        left: 450px;

        width: 200px;
        height: 200px;

        background: blue;

        z-index: 3;

        transition: all 0.75s ease-in-out;

    }

}
