{% load static %}
{% load compress %}

<!DOCTYPE html>

<html lang="ru">

    <head>

        <title>

            Блокнотик

        </title>

        {% compress css %}

            <link rel="stylesheet" href="{% static 'scss/app/home.scss' %}" type="text/x-scss">

        {% endcompress %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://unpkg.com/htmx.org@1.8.4"></script>


    </head>

    <body>
        
        <div class="top-nav">

            <div class="toggle-side-nav">

                -

            </div>

            <div class="brand">

                <!-- Logo svg -->

                <h1>

                    Блокнотик

                </h1>

            </div>

            <div class="search">

                <div class="icon">


                </div>

                <input type="text" name='query' />

            </div>

            <div class="right-buttons">

                <div class="note-view">



                </div>
    
                <div class="settings">
    
                    
    
                </div>

            </div>

            <div class="profile">

                {% if profile.avatar %}

                    <img src="{{ profile.avatar.url }}" />

                {% else %}

                    <h4>

                        {{ profile.name }}

                    </h4>

                {% endif %}

            </div>

        </div>
        

        <div class="side-nav">

            <div class="pages">

                <div class="page current">

                    <!-- SVG -->

                    <span>

                        Заметки

                    </span>
                    

                </div>

                <div class="folders">

                    {% include 'components/folders.html' %}

                </div>

                <div class="page" id="create-folder">

                    <div>

                        +

                    </div>

                    <span>

                        Создать блокнот

                    </span>

                </div>


                <div class="page">

                    <!-- SVG -->
                    
                    <span>

                        Архив

                    </span>

                </div>

                <div class="page">

                    <!-- SVG -->

                    <span>

                        Корзина

                    </span>


                </div>

            </div>

        </div>

        <div class="main">

            <div class="create-note-field">

                <form>

                    {% csrf_token %}

                    <div class="condensed">

                        <div class="btn pin-note">

                            P

                        </div>

                        <div class='title'>
    
                            <input name="title" type="text" id="new-note-title" placeholder='Я помню чудное мгновение...' />
        
                        </div>
                        
                        <div class="side-buttons">
        
                            <div class="btn checklist">
        
                                C
            
                            </div>
            
                            <div class="btn image">
            
                                I
            
                            </div>
        
                        </div>

                        <div class='btn collapse-note-form'>

                            X

                        </div>
    
                    </div>
                    
                    <div class="addon">
    
                        <div class="buttons">

                            <button id="bold" type="button">

                                <b>

                                    Ж

                                </b>

                            </button>

                            <button id="italic" type="button">

                                <i>

                                    К

                                </i>

                            </button>

                            <button id="underline" type="button">

                                <u>

                                    С

                                </u>

                            </button>

                            <button id="strike" type="button">

                                <s>

                                    О

                                </s>

                            </button>

                            <button id="ul" type="button">

                                <i>

                                    UL

                                </i>

                            </button>

                            <button id="ol" type="button">

                                <i>

                                    OL

                                </i>

                            </button>

                            <button id="cl" type="button">

                                <i>

                                    CL

                                </i>

                            </button>

                            <button id="image" type="button">

                                <i>

                                    I

                                </i>

                            </button>

                            <button id="style" type="button">

                                <i>

                                    S

                                </i>

                            </button>

                        </div>

                        <div class='content'>
    
                            <div contenteditable id="new-note-content" placeholder='Я помню чудное мгновение...'></div>
                            <input type="text" name="content" id="new-note-content-input" hidden>

                        </div>

                        <div class="create-btn-wrapper">

                            <button class="create-note-btn" hx-post="{% url 'app:create-note' %}" hx-target='.notes'>
    
                                Создать
        
                            </button>

                        </div>
                        
    
                    </div>                    
                    
                </form>

            </div>

            <div class="notes">

                {% include 'components/notes.html' %}

            </div> 

        </div>

        <div class="current-note">

            {% include 'components/note.html' %}

        </div>


        <!-- Forms -->

        

    </body>

    <style>

        @font-face {
            font-family: Comfortaa;
            src: url("{% static 'fonts/Comfortaa.ttf' %}");
        }

    </style>

    <script>

        function addImage() {

            $('#image-file').click()

        }

        document.body.addEventListener('htmx:configRequest', (event) => {

            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';

        })

        $('#new-note-content').change(function() {

            $('#new-note-content-input').val(($('#new-note-content').html()))

        })

        /* RTE */

        $('#bold').click(function() {

            document.execCommand('bold');
            $('#new-note-content').focus();

        });

        $('#italic').click(function() {

            document.execCommand('italic');
            $('#new-note-content').focus();

        });

        $('#underline').click(function() {

            document.execCommand('underline');
            $('#new-note-content').focus();

        });

        $('#strike').click(function() {

            document.execCommand('strikeThrough');
            $('#new-note-content').focus();

        });

        $('#ul').click(function() {

            document.execCommand('insertUnorderedList');
            $('#new-note-content').focus();

        });

        $('#ol').click(function() {

            document.execCommand('insertOrderedList');
            $('#new-note-content').focus();

        });

        /* Checkbox list */

        let checkListHTML = `

            <ul class='checkbox-list'>
            
                <li class='checkbox-item'>

                    <input type='checkbox' />

                </li>

            </ul>
            
        `

        let checkBoxHTML = `
        
            <li class='checkbox-item'>

                <input type='checkbox' />
            
            </li>

        `

        var range;

        $(".content").on('keydown', function(e) {

            range = window.getSelection().getRangeAt(0);
            parentEl = range.commonAncestorContainer.parentNode;

            if (parentEl.className === 'checkbox-item') {

                if (e.keyCode === 13) {

                    e.preventDefault();
                    document.execCommand('insertHTML', false, checkBoxHTML);

                }

            }

        })

        $('#cl').click(function() {

            range = window.getSelection().getRangeAt(0);
            parentEl = range.commonAncestorContainer.parentNode;

            if (parentEl.className !== 'checkbox-item' && parentEl.tagName === 'LI') {

                document.execCommand('insertHTML', false, "<input type='checkbox' />");
                $('#new-note-content').focus();

            } else {

                document.execCommand('insertHTML', false, checkListHTML);
                $('#new-note-content').focus();

            }

            

        });

        /* Note synthesizer */

        $('#new-note-title').focus(function() {

            if (!$('.condensed').hasClass('expanded')){

                $('.create-note-field').animate({

                    height: 470,

                }, 250)

                $('.addon').show();

                $('.condensed').addClass('expanded');
                
                $('.addon, .collapse-note-form, .pin-note').animate({

                    opacity: 1,

                })

                $('#new-note-title').attr('placeholder', 'Заголовок');

                $('#new-note-content').focus();

            }

        });

        $('.collapse-note-form, .create-note-btn').click(function() {

            $('.create-note-field').css({

                height: 60,

            })

            $('.addon').hide();

            $('.condensed').removeClass('expanded');

            $('.addon, .collapse-note-form, .pin-note').animate({

                opacity: 0,

            })

            $('#new-note-title').attr('placeholder', 'Я помню чудное мгновение...');

        });

        /* nav */

        var navOpen = false;

        let navBarAnimationTime = 500

        function openNav() {

            $('.side-nav').addClass('open');

                $('.main').animate({

                    marginLeft: 250,

                }, navBarAnimationTime)

        }

        function closeNav() {

            $('.side-nav').removeClass('open');

                $('.main').animate({

                    marginLeft: 0,

                }, navBarAnimationTime)

        }

        $('.toggle-side-nav').click(function() {

            ((navOpen === true) ? closeNav() : openNav());

            navOpen = !navOpen;

        })

        $('.side-nav').on('mouseenter', function() {

            setTimeout(function() {

                if (!navOpen) {

                    openNav()
    
                }

            }, 250)

        })

        $('.side-nav').on('mouseleave', function() {

            if (!navOpen) {

                closeNav()

            }

        })

        $("#create-folder").click(function () {

            $('.folder-form').css({

                'opacity': 1,
                'z-index': 5,

            })

        })

        $('.close-folder-form-btn, .folder-form').click(function(e) {

            if (e.target == this){

                $('.folder-form').css({

                    'opacity': 0,
                    'z-index': -1,

                })

            }

        });

    </script>

</html>